.color-success {
  color: green;
}

.w-100 {
  width: 100%;
}

.block-body-lesson {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .block-body-lesson-title {
    font-size: 24px;
    font-weight: bold;
  }

  .block-body-lesson-desc {
    display: flex;
    column-gap: 2%;
    flex-wrap: wrap;

    .block-body-lesson-desc-video-img {
      width: 73%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;

      .block-body-lesson-desc-video-img-player {
        width: 100%;
        height: 60vh;
        position: relative;

        .player-block {
          width: 100%;
          height: 100%;

          iframe {
            width: 100%;
            height: 100%;
          }
        }

        .gr-link-previous {
          width: fit-content;
          position: absolute;
          top: 50%;
          right: -16px;
          color: #fff;
          background: #333;
          font-size: 20px;
          border-radius: 50%;
          padding: 8px;
        }
      }

      p {
        font-weight: bold;
      }
    }

    .block-body-lesson-desc-list-lesson {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 25%;

      .block-body-lesson-desc-list-lesson-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 24px;
      }

      .block-body-lesson-desc-list-lesson-list-lesson {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .block-body-lesson-desc-list-lesson-list-lesson-item {
          display: flex;
          column-gap: 16px;
          flex-wrap: wrap;
        }
      }
    }
  }
}
