.block-header {
  background: #000948;
  height: 70px;
  margin: 0 40px;
  display: flex;
  color: var(--text-color-light);
  align-items: center;
  position: sticky;
  top: 32px;
  z-index: 99;
  opacity: 0.9;
  border-radius: 20px;
  padding: 0 28px;

  .block-header-img {
    width: 200px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .block-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 16px;
    flex-wrap: wrap;
    font-size: 16px;

    .block-header-content-left {
      a {
        text-decoration: none;
        color: #fff;
        padding: 24px 12px;
      }

      a:hover {
        background: #424770;
      }
    }

    .block-header-content-right {
      display: flex;
      column-gap: 16px;
      align-items: center;

      .btn-signin {
        border: 1px solid;
        border-radius: 16px;
        padding: 8px 32px;
      }

      .btn-signin:hover {
        background: #484e7b;
      }

      .btn-signup {
        background: #fff;
        padding: 8px 32px;
        color: #000948;
        border-radius: 16px;
      }

      .btn-signup:hover {
        background: #dfdfdf;
      }
    }
  }

  .block-header-content-sp {
    display: none;
    position: relative;

    .block-modal-sp {
      position: absolute;
      right: -66px;
      background: #000948;
      width: 50vh;
      height: 100vh;
      padding: 12px 24px 24px 24px;
      top: -56px;
      display: flex;
      flex-direction: column;

      .block-modal-sp-link {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 100%;
        text-align: left;
        flex: 1;
        margin-top: 12px;

        a {
          text-decoration: none;
          color: var(--text-color-light);
        }
      }

      .block-modal-sp-signin-signup {
        border-top: 1px solid;
        margin-top: 16px;
        padding-top: 16px;
        text-align: left;
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        .btn-signin {
          text-align: center;
          border: 1px solid;
          border-radius: 16px;
          padding: 12px 0;
        }

        .btn-signup {
          text-align: center;
          border: 1px solid;
          border-radius: 16px;
          padding: 12px 0;
        }
      }
    }

    .block-modal-sp-sticky {
      top: -26px;
      right: -28px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 9999;
  border-radius: 0;
}

@media (max-width: 1024px) {
  .block-header {
    justify-content: space-between;
    .block-header-content {
      display: none !important;
    }

    .block-header-content-sp {
      display: block !important;
      flex: 1;
      text-align: end;
    }
  }
}
