$transition-time: 1.2s;
$box-shadow-light: rgba(255, 255, 255, 0.3);
$box-shadow-dark: rgba(70, 70, 70, 0.15);

.cont {
  border-radius: 20px;
  overflow: hidden;
  width: 900px;
  height: 550px;
  background: #fff;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.3),
    10px 10px 15px rgba(70, 70, 70, 0.15),
    inset -10px -10px 15px rgba(255, 255, 255, 0.3),
    inset 10px 10px 15px rgba(70, 70, 70, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.s--signup {
    .sub-cont {
      transform: translate3d(-640px, 0, 0);
    }

    .img:before {
      transform: translate3d(640px, 0, 0);
    }

    .img__text.m--up {
      transform: translateX(520px);
    }

    .img__text.m--in {
      transform: translateX(0);
    }

    .img__btn span.m--in {
      transform: translateY(0);
    }

    .img__btn span.m--up {
      transform: translateY(72px);
    }

    .sign-in {
      transition-timing-function: ease-in-out;
      transform: translate3d(640px, 0, 0);
    }

    .sign-up {
      transform: translate3d(0, 0, 0);
    }
  }
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform $transition-time ease-in-out;
  padding: 50px 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  label {
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    input {
      border: none;
      outline: none;
      border-bottom: 1px solid;
    }
  }

  button {
    margin: 16px auto;
  }
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform $transition-time ease-in-out;
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("ext.jpg");
    opacity: 0.8;
    background-size: cover;
    transition: transform $transition-time ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform $transition-time ease-in-out;

  h2 {
    margin-bottom: 10px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  &.m--up {
    transform: translateX(0);
  }

  &.m--in {
    transform: translateX(-520px);
  }
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;

  &:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform $transition-time;

    &.m--in {
      transform: translateY(-72px);
    }

    &.m--up {
      transform: translateY(0);
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  background: #000948;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 100px;

  &:hover {
    opacity: 0.8;
    transition: all ease-in 0.3s;
  }
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;

  span {
    font-weight: bold;
    color: #455a81;
  }
}

.sign-in {
  transition-timing-function: ease-out;

  &.s--signup {
    transition-timing-function: ease-in-out;
    transition-duration: $transition-time;
  }
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
